.campaignTable{
  width: 100%;
  font-size: 14px;
  :global{
    .FlexTable{
      outline: none;
      * {
        outline: none;
      }
    }
  }
}

.secondHalfColummn{
  text-align: right;
  width: 100%;
}

.evenRow{
  background-color: #FAFAFA;
}

.campaignBudget{
  float: left;
  margin-right: 10px;
}

.campaignEndDate{

}
.campaignName{
  color: #191F2D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell{
 color: #888888;
}
.statusCell{
  padding: 5px;
}