.campaignTable{
  width: 100%;
  font-size: 14px;
  :global{
    .FlexTable{
      outline: none;
      * {
        outline: none;
      }
      .FlexTable__row{
        cursor: pointer;
      }
      .FlexTable__headerRow{
        background-color: white;
        box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.06);
      }
      .FlexTable__Grid{
        z-index: -1;
      }
    }
  }
}

:global(.sticky.noHeader) {
  :global{
    .FlexTable__headerRow{
      position: fixed;
      top: 68px;
    }
  }
}

.toggleLoader{
  position: relative;
  > div {
    width: 35px !important;
    margin: 0 !important;
  }
}

.secondHalfColummn{
  text-align: right;
  width: 100%;
}

.evenRow{
  background-color: #FAFAFA;
}

.campaignBudget{
  float: left;
  margin-right: 10px;
}

.campaignEndDate, .campaignBudget{
  color: #aeaeae;
}
.campaignName{
  color: #191F2D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.cell{
  color: #888888;
}
.statusCell{
  padding: 5px;
}
.selectedRow{
  background-color: #DDF9FF;
}
.noRows{
  margin: auto;
  text-align: center;
}

.header{
  text-transform: capitalize;
  font-size: 14px;
}
.campaignTimeIcon{
  svg{
    height: 16px;
    margin-top: -2px;
    fill: #aeaeae;;
  }

  margin-right: 3px;
  margin-left: 2px;
}
.campaignAmountIcon{
  svg{
    height: 20px;
    margin-top: -2px;
    font-size: 11px;
    fill: #aeaeae;;
  }
  margin-right: 2px;
}

