$margin-vertical: 15px;

.KPIChartContainer{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $margin-vertical;
}

.KPIListContainer{
  margin: $margin-vertical auto;
  padding: 5px 0;
  width: 100%;
  //width: 1205px;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  > *{
    max-width: 8.3%;
    width: 8.3%;
    margin: 0 1px;
  }
  .KPIElem{
    margin: 5px;
    width: 9.09%;
    cursor: pointer;
    border: 1px solid black;
    &.active{
      color: green;
    }
  }
}