.KPIChartContainer{
  height: 420px;
}

.KPIChartContainer, .campaignTableContainer, .statusFilter{
  animation-duration: 0.5s;
  animation-name: appear;

  @keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.statusFilter{
  margin-bottom: 42.5px;
  margin-top: 25px;
  height: 40px;
  .calendarContainer{
    float: right;
    width: 300px;
  }
  .dropDownContainer{
    float: left;
    width: 200px;
    margin-left: 15px;
  }
  .title{
    float: left;
    font-size: 19px;
    color: #191F2D;
    margin-top: 6px;
  }
}

