:global {
  .Footer {
    color: #E0E0E0;
    font-size: 12px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  .Footer-large {
    margin-top: 300px;
  }

  .Footer {
    a {
      color: #03c7f1;
    }
  }
}
