:global(.DayPicker) {
  outline:0;
  div * {
    outline:0;
  }
}

:global(.DayPicker-Day) {
  border: none;
  cursor: pointer !important;
  height: 31px;
  min-width: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}

:global(.DayPicker-Day--today) {
  background-color: #F2F2F2;
  color: #191F2D;
}

:global(.DayPicker-Caption) {
  height: 48px;
  line-height: 48px;
}

:global(.DayPicker) {
  min-height: 300px;
}
:global {
  .DatePicker-caretIcon {
    padding: 7.5px 10px;
    span {
      width: 5px;
      height: 10px;
      svg {
        width: 5px;
        height: 10px;
      }
    }
  }
}
