:global {
  .InputDate {
    border: 1px solid #e0e0e0;
    height: 40px;
    padding: 0 12px;
    &.is-active {
      border-color: #2bcff3; 
    }
    &-label {
      color: #ADADAD;
      float: left;
      font-size: 10px;
      line-height: 40px;
      padding-left: 7px;
    }

    &-value {
      color: #888888;
      float: left;
      font-size: 14px;
      line-height: 40px;
      padding-left: 20px;
      &.is-active {
        color: #2bcff3;
      }
    }

    &-calendar {
      padding-left: 12px;
    }

    &-clean {
      color: #2bcff3;
      display: none;
      float:right;
      padding-left: 7px;
      &.is-active {
        display: block;
      }
    }

    &:hover {
      border-color: #2bcff3;
      .InputDate-value {
        color: #2bcff3;
      }

      .InputDate-clean {
        display: block;
      }

    }
  }
}
