@import 'variables';

:global {
  .SecureApp {
    &-content {
      min-width: $min-width;
      padding: $padding-horizontal-base $glutter;
    }
  }

  .dashboardPage{
    .SecureApp {
      &-content {
        padding: 0 $glutter $padding-horizontal-base $glutter;
      }
    }
  }
}
