@import 'main';
:global {
  .sticky{
    .SecureHeader {
      opacity: 1;
    }
  }
  .SecureHeader {
    transition: opacity 0.25s ease-in;
    position: fixed;
    opacity: 0;
    $base-border-radius: 3px !default;
    $dark-gray: #333 !default;
    $large-screen: 53.75em !default;
    $base-font-color: #FFF !default;
    $second-font-color: #888;
    $centered-navigation-padding: 1em;
    $centered-navigation-logo-height: 2em;
    $centered-navigation-background: #000;
    $centered-navigation-background-active: white;
    $centered-navigation-background-hover: #3b404c;
    $centered-navigation-color: #FFF;
    $centered-navigation-color-hover: $base-font-color;
    $centered-navigation-color-active: black;
    $centered-navigation-height: 52px;
    $centered-navigation-item-padding: 20px;
    $centered-navigation-submenu-padding: 1em;
    $centered-navigation-submenu-width: 12em;
    $centered-navigation-item-nudge: 2.2em;
    $horizontal-bar-mode: $large-screen;
    @mixin link() {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      padding: 0 $centered-navigation-item-padding;
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: $centered-navigation-background-hover;
        color: $centered-navigation-color-hover;
      }
      &.is-active {
        background-color: $centered-navigation-background-active;
        color: $centered-navigation-color-active;
      }
    }

    background-color: $centered-navigation-background;
    color: $centered-navigation-color;
    min-height: $centered-navigation-height;
    min-width: $min-width;
    padding: 0px $glutter;
    width: 100%;
    z-index: 9999;


  // Mobile view

    &-logo {
      display: inline;
      float: left;
      max-height: $centered-navigation-height;

      img {
        max-height: $centered-navigation-height;
        padding: 0.8em 0;
      }
    }

  // Nav menu

    &-wrapper {
      @include outer-container(100%);
      @include clearfix;
      position: relative;
      z-index: 999;
    }

    &-nav {
      display: inline-block;
    }

    &-menu {
      clear: both;
      display: inline-block;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      text-align: center;
      -webkit-transform-style: preserve-3d;
  // stop webkit flicker
      width: 100%;
      z-index: 99999;

      &.show {
        display: block;
      }
    }


  // The nav items

    &-navLink:first-child {
      margin-left: $centered-navigation-item-nudge;
    }

    &-navLink {
      background: transparent;
      display: inline;
      font-size: 13px;
      line-height: $centered-navigation-height;
      overflow: hidden;
      text-align: right;
      width: 100%;
      z-index: 9999;

      a {
        @include link;
      }

    }

    &-account {
      display: inline-block;
      float:right;
      line-height: $centered-navigation-height;
      &Welcome {
        display: inline-block;
        color: $second-font-color;
      }

      &Help {
        display: inline-block;
        color: $centered-navigation-color;
        padding-left: 10px;
      }

      &Menu {
        padding-left: 30px;
        display: inline-block;
        a {
          @include link;
        }
      }
    }
  }
}
