:global {
  .toast-title {
    font-weight: 700
  }
  .toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 33px;
    height: 34px;
  }
  .toast-message a, .toast-message label {
    color: #fff
  }
  .toast-message a:hover {
    color: #ccc;
    text-decoration: none
  }
  .toast-close-button {
    position: relative;
    width: 50px;
    right: -50px;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .98;
  }
  .toast-close-button:focus, .toast-close-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
  }
  button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
  }
  .toast-top-center {
    top: 0;
    right: 0;
    width: 100%
  }
  .toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%
  }
  .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%
  }
  .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%
  }
  .toast-top-left {
    top: 12px;
    left: 12px
  }
  .toast-top-right {
    top: 68px;
    right: 12px
  }
  .toast-bottom-right {
    right: 12px;
    bottom: 12px
  }
  .toast-bottom-left {
    bottom: 12px;
    left: 12px
  }
  #toast-container {
    position: fixed;
    z-index: 999999
  }
  #toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
  #toast-container > div {
    position: relative;
    //overflow: hidden;
    //margin: 0 0 6px;
    //padding: 5px 15px 15px 50px;
    padding:  8px 50px 8px 40px;;
    width: 410px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: .98;
  }
  #toast-container > :hover {
    -moz-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    cursor: pointer
  }
  #toast-container > .toast-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important
  }
  #toast-container > .toast-error {
    //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><title>Type something</title><path d="M13.8671875,3.7578125 C15.4557371,5.34636211 16.25,7.26040547 16.25,9.5 C16.25,11.7395945 15.4557371,13.6536379 13.8671875,15.2421875 C12.2786379,16.8307371 10.3645945,17.625 8.125,17.625 C5.88540547,17.625 3.97136211,16.8307371 2.3828125,15.2421875 C0.794262891,13.6536379 0,11.7395945 0,9.5 C0,7.26040547 0.794262891,5.34636211 2.3828125,3.7578125 C3.97136211,2.16926289 5.88540547,1.375 8.125,1.375 C10.3645945,1.375 12.2786379,2.16926289 13.8671875,3.7578125 L13.8671875,3.7578125 Z M13.3984375,14.7734375 C14.8307363,13.3411387 15.546875,11.5833438 15.546875,9.5 C15.546875,7.41665625 14.8307363,5.65886133 13.3984375,4.2265625 C11.9661387,2.79426367 10.2083437,2.078125 8.125,2.078125 C6.04165625,2.078125 4.28386133,2.79426367 2.8515625,4.2265625 C1.41926367,5.65886133 0.703125,7.41665625 0.703125,9.5 C0.703125,11.5833438 1.41926367,13.3411387 2.8515625,14.7734375 C4.28386133,16.2057363 6.04165625,16.921875 8.125,16.921875 C10.2083437,16.921875 11.9661387,16.2057363 13.3984375,14.7734375 L13.3984375,14.7734375 Z M11.40625,5.75 L11.875,6.21875 L8.59375,9.5 L11.875,12.78125 L11.40625,13.25 L8.125,9.96875 L4.84375,13.25 L4.375,12.78125 L7.65625,9.5 L4.375,6.21875 L4.84375,5.75 L8.125,9.03125 L11.40625,5.75 Z" transform="translate(0 -1)" fill="#630101" fill-rule="evenodd"/></svg>') !important

  }
  #toast-container > .toast-success {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><title>Type something</title><path d="M11.40625,6.4140625 L12.109375,7.1171875 L6.875,12.390625 C6.77083281,12.4947922 6.65364648,12.546875 6.5234375,12.546875 C6.39322852,12.546875 6.27604219,12.4947922 6.171875,12.390625 L3.984375,10.203125 L4.6875,9.5 L6.5234375,11.3359375 L11.40625,6.4140625 Z M8.125,1.375 C10.3645945,1.375 12.2786379,2.16926289 13.8671875,3.7578125 C15.4557371,5.34636211 16.25,7.26040547 16.25,9.5 C16.25,11.7395945 15.4557371,13.6536379 13.8671875,15.2421875 C12.2786379,16.8307371 10.3645945,17.625 8.125,17.625 C5.88540547,17.625 3.97136211,16.8307371 2.3828125,15.2421875 C0.794262891,13.6536379 0,11.7395945 0,9.5 C0,7.26040547 0.794262891,5.34636211 2.3828125,3.7578125 C3.97136211,2.16926289 5.88540547,1.375 8.125,1.375 L8.125,1.375 Z M8.125,16.9609375 C10.182302,16.9609375 11.9400969,16.2317781 13.3984375,14.7734375 C14.8567781,13.3150969 15.5859375,11.557302 15.5859375,9.5 C15.5859375,7.44269805 14.8567781,5.68490312 13.3984375,4.2265625 C11.9400969,2.76822188 10.182302,2.0390625 8.125,2.0390625 C6.06769805,2.0390625 4.30990312,2.76822188 2.8515625,4.2265625 C1.39322188,5.68490312 0.6640625,7.44269805 0.6640625,9.5 C0.6640625,11.557302 1.39322188,13.3150969 2.8515625,14.7734375 C4.30990312,16.2317781 6.06769805,16.9609375 8.125,16.9609375 L8.125,16.9609375 Z" transform="translate(0 -1)" fill-rule="evenodd"/></svg>') !important
  }
  #toast-container > .toast-warning {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="17" height="18" viewBox="0 0 17 18" xmlns="http://www.w3.org/2000/svg"><title></title><path d="M9.5625,13.28125 L9.03125,13.28125 L9.03125,8.53320312 L9.03125,8.51660156 L9.03125,8.5 C9.03125,8.35611907 8.97867891,8.2316086 8.87353516,8.12646484 C8.7683914,8.02132109 8.64388093,7.96875 8.5,7.96875 L7.4375,7.96875 C7.29361907,7.96875 7.1691086,8.02132109 7.06396484,8.12646484 C6.95882109,8.2316086 6.90625,8.35611907 6.90625,8.5 C6.90625,8.64388093 6.95882109,8.7683914 7.06396484,8.87353516 C7.1691086,8.97867891 7.29361907,9.03125 7.4375,9.03125 L7.96875,9.03125 L7.96875,13.28125 L7.4375,13.28125 C7.29361907,13.28125 7.1691086,13.3338211 7.06396484,13.4389648 C6.95882109,13.5441086 6.90625,13.6686191 6.90625,13.8125 C6.90625,13.9563809 6.95882109,14.0808914 7.06396484,14.1860352 C7.1691086,14.2911789 7.29361907,14.34375 7.4375,14.34375 L9.5625,14.34375 C9.70638093,14.34375 9.8308914,14.2911789 9.93603516,14.1860352 C10.0411789,14.0808914 10.09375,13.9563809 10.09375,13.8125 C10.09375,13.6686191 10.0411789,13.5441086 9.93603516,13.4389648 C9.8308914,13.3338211 9.70638093,13.28125 9.5625,13.28125 L9.5625,13.28125 Z M7.74462891,6.59912109 C7.94938253,6.80387472 8.20117038,6.90625 8.5,6.90625 C8.79882962,6.90625 9.05061747,6.80387472 9.25537109,6.59912109 C9.46012472,6.39436747 9.5625,6.14257962 9.5625,5.84375 C9.5625,5.54492038 9.46012472,5.29313253 9.25537109,5.08837891 C9.05061747,4.88362528 8.79882962,4.78125 8.5,4.78125 C8.20117038,4.78125 7.94938253,4.88362528 7.74462891,5.08837891 C7.53987528,5.29313253 7.4375,5.54492038 7.4375,5.84375 C7.4375,6.14257962 7.53987528,6.39436747 7.74462891,6.59912109 L7.74462891,6.59912109 Z M11.1811523,1.49414062 C10.3123329,1.20637877 9.41862438,1.0625 8.5,1.0625 C7.58137562,1.0625 6.6876671,1.20637877 5.81884766,1.49414062 C4.95002821,1.78190248 4.16699567,2.18586979 3.46972656,2.70605469 C2.77245745,3.22623958 2.16373958,3.83495745 1.64355469,4.53222656 C1.12336979,5.22949567 0.71940248,6.01252821 0.431640625,6.88134766 C0.14387877,7.7501671 0,8.64387562 0,9.5625 C0,10.7135474 0.224118853,11.8147734 0.672363281,12.8662109 C1.12060771,13.9176485 1.72379178,14.8224246 2.48193359,15.5805664 C3.24007541,16.3387082 4.14485151,16.9418923 5.19628906,17.3901367 C6.24772661,17.8383811 7.34895258,18.0625 8.5,18.0625 C9.65104742,18.0625 10.7522734,17.8383811 11.8037109,17.3901367 C12.8551485,16.9418923 13.7599246,16.3387082 14.5180664,15.5805664 C15.2762082,14.8224246 15.8793923,13.9176485 16.3276367,12.8662109 C16.7758811,11.8147734 17,10.7135474 17,9.5625 C17,8.64387562 16.8561212,7.7501671 16.5683594,6.88134766 C16.2805975,6.01252821 15.8766302,5.22949567 15.3564453,4.53222656 C14.8362604,3.83495745 14.2275425,3.22623958 13.5302734,2.70605469 C12.8330043,2.18586979 12.0499718,1.78190248 11.1811523,1.49414062 L11.1811523,1.49414062 Z M8.5,17.0166016 C7.69205325,17.0166016 6.90902072,16.8920911 6.15087891,16.6430664 C5.39273709,16.3940417 4.70931294,16.0371117 4.10058594,15.5722656 C3.49185894,15.1074196 2.95784735,14.5706411 2.49853516,13.9619141 C2.03922296,13.3531871 1.68505984,12.6697629 1.43603516,11.9116211 C1.18701047,11.1534793 1.0625,10.3704467 1.0625,9.5625 C1.0625,8.55533351 1.25894986,7.59245251 1.65185547,6.67382812 C2.04476108,5.75520374 2.57323887,4.96387051 3.23730469,4.29980469 C3.90137051,3.63573887 4.69270374,3.10726108 5.61132812,2.71435547 C6.52995251,2.32144986 7.49283351,2.125 8.5,2.125 C9.50716649,2.125 10.4700475,2.32144986 11.3886719,2.71435547 C12.3072963,3.10726108 13.0986295,3.63573887 13.7626953,4.29980469 C14.4267611,4.96387051 14.9552389,5.75520374 15.3481445,6.67382812 C15.7410501,7.59245251 15.9375,8.55533351 15.9375,9.5625 C15.9375,10.5696665 15.7410501,11.5325475 15.3481445,12.4511719 C14.9552389,13.3697963 14.4267611,14.1638964 13.7626953,14.8334961 C13.0986295,15.5030958 12.3072963,16.0343405 11.3886719,16.4272461 C10.4700475,16.8201517 9.50716649,17.0166016 8.5,17.0166016 L8.5,17.0166016 Z" transform="translate(0 -1)" fill="#715400" fill-rule="evenodd"/></svg>') !important
  }
  #toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    width: 300px;
    margin: auto
  }
  #toast-container.toast-bottom-full-width > div, #toast-container.toast-top-full-width > div {
    width: 96%;
    margin: auto
  }
  .toast {
    background-color: #030303
  }
  .toast-success {
    background-color: rgba(122, 235, 145, 0.9);
    .toast-message{
      border-right: 2px solid rgba(56, 111, 0, 0.2);
      color: #386F00;
    }
    .toast-close-button{
      color: #386F00;
    }
  }
  .toast-error {
    background-color: #FF7474;
    .toast-message{
      border-right: 2px solid rgba(99, 1, 1, 0.2);
      color: #630101;
    }
    .toast-close-button{
      color: #630101;
    }
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #FFCF74;
    .toast-message{
      border-right: 2px solid rgba(99, 1, 1, 0.2);
      color: #715400;
    }
    .toast-close-button{
      color: #715400;
    }
  }
  .toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4;
  }
  @media all and (max-width: 240px) {
    #toast-container > div {
      padding: 8px 8px 8px 50px;
      width: 11em
    }
    #toast-container .toast-close-button {
      right: -.2em;
      top: -.2em
    }
  }
  @media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
      padding: 8px 8px 8px 50px;
      width: 18em
    }
    #toast-container .toast-close-button {
      right: -.2em;
      top: -.2em
    }
  }
  @media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
      padding: 15px 15px 15px 50px;
      width: 25em
    }
  }
}